{% extends 'base.html' %}
{% load static %}
{% block content %}
 {{block.super}}
<div class="container color-dark">
  <div class="col">
    <h4 id="sorted">Your Sorted Dictionary</h4> 
  </div> 
  <div class="col">
    <h4 id="sorted2">Click the button to sort the Dictionary in ascending order.</h4>
  </div>
</div>
<div class="container color-light">
  <div class="col" id="ultimatum">

    <p class="life-container text-center" id="result" style="margin-top: 1%;
  height: 170px; padding-top: 7%;"></p>
  </div>
  <div class="col" id="answer">
    <p class="text-center" id="dict" style="margin-top: -30%;">Dictionary = {'34': 'thirty-four',
'90': 'ninety',
'91': 'ninety-one',
'21': 'twenty-one',
'61': 'sixty-one',
'9': 'nine',
'2': 'two',
'6': 'six',
'3': 'three ',
'8': 'eight',
'80': 'eighty',
'81': 'eighty-one',
'Ninety-Nine': '99',
'nine-hundred':'900'}</p>
    <button class="btn" id="button" onclick="sorted()">Try it</button>
  </div>
</div>

{% endblock %}