{% extends 'base.html' %}
{% load staticfiles %}
{{block.super}}
{% block content %}
<script>
  //custom js

  Dictionary = {'34': 'thirty-four', '90': 'ninety',
  '91': 'ninety-one','21': 'twenty-one',
  '61': 'sixty-one', '9': 'nine',
  '2': 'two', '6': 'six', '3': 'three ',
  '8': 'eight', '80': 'eighty', '81': 'eighty-one',
  'Ninety-Nine':  '99', 'nine-hundred':  '900'}

  function sorted() {
    var sortedDictionary = {}//empty dictionary for final output
    keys = Object.keys(Dictionary);//get all key of Dictioanry puts them in an array
    i = -1;
    len = keys.length;//length of keys in dictionary
    keys.sort();//sort the keys in ascending order
    //console.log(list[-1]);
    while(++i < len) {
      sortedDictionary[keys[i]] = Dictionary[keys[i]];
    } 
    console.log(sortedDictionary);
    var sortedResult = [];
    for (var key in sortedDictionary) {
      if (sortedDictionary.hasOwnProperty(key))
        sortedResult.push([key, sortedDictionary[key]]); 
    }
    console.log(sortedResult);
    document.getElementById('result').innerHTML = sortedResult;
  }
</script>
<div class="container color-dark">
  <div class="col">
    <h4 id="sorted">Your Sorted Dictionary</h4> 
  </div> 
  <div class="col">
    <h4 id="sorted2">Click the button to sort the Dictionary in ascending order.</h4>
  </div>
</div>
<div class="container color-light">
  <div class="col" id="ultimatum">
    <p class="life-container text-center" id="result"></p>
  </div>
  <div class="col" id="answer">
    <p class="text-center" id="dict">Dictionary = {'34': 'thirty-four',
'90': 'ninety',
'91': 'ninety-one',
'21': 'twenty-one',
'61': 'sixty-one',
'9': 'nine',
'2': 'two',
'6': 'six',
'3': 'three ',
'8': 'eight',
'80': 'eighty',
'81': 'eighty-one',
'Ninety-Nine': '99',
'nine-hundred':'900'}</p>
    <button class="btn" id="button" onclick="sorted()">Try it</button>
  </div>
</div>
{% endblock %}